!!! 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,user-scalable=no,minimal-ui')
    title {{basics.name}} - CV
    style.
      {% include 'style.css' %}

    style(media='print').
      body { font-size: 12px; }
      section.item { page-break-inside: avoid; }

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css')

  body
    #resume
      section.heading
        header
          h1 {{basics.name}}
          blockquote {{basics.summary}}
          .contact
            strong Email: 
            span.detail
              a(href='mailto:{{basics.email}}') {{basics.email}}
          .contact
            strong Phone: 
            span.detail {{basics.phone}}
          .contact
            strong Location: 
            span.detail {{basics.location.city}}, {{basics.location.countryCode}}

        for profile in basics.profiles
          .profile
            strong.network {{profile.network}}: 
            span.url
              a(href='{{profile.url}}') {{profile.url}}

      section.experience
        h2 Experience
        for item in work
          section.item
            h3 {{item.name}}
            div
              span.position {{item.position}}
              span.startDate {{format_date(item.startDate)}}
              |  to 
              span.endDate {{format_date(item.endDate)}}
            if item.description:
              div
                span.description {{item.description}}
            ul.highlights
              for highlight in item.highlights
                li {{highlight}}
